# Q
### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

#### Importing libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import scipy
from scipy import stats

#### Importing the data

In [2]:
data=pd.read_csv("Costomer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

#### Label Encoding

In [3]:
data=data.apply(LabelEncoder().fit_transform)
data.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

#### Null Hypothesis(H0) - % of defective not varies by centre
#### Alternative Hypothesis(H1) - % of defective are varies by centre

In [4]:
stats.f_oneway(data["Phillippines"],data["Indonesia"],data["Malta"],data["India"])

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

### P value is greater than 0.05, we accept null hypothesis