# Q
### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

#### Importing libraries

In [1]:
import pandas as pd
import scipy
from scipy.stats import chisquare

#### Importing the data

In [2]:
data=pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
data['all'] = data.sum(axis=1)

In [4]:
data

  Observed Values  East  West  North  South   all
0           Males    50   142    131     70   393
1         Females   435  1523   1356    750  4064

In [5]:
count=pd.crosstab(data['Observed Values'],data['all'])
count

all              393   4064
Observed Values
Females             0     1
Males               1     0

#### Null Hypothesis(H0) - all proportions of male-female buyer ratio is same
#### Alternative Hypothesis(H1) - all proportions of male-female buyer ratio is not the same

In [6]:
Chisquares_results=scipy.stats.chisquare(count)
Chisquares_results

Power_divergenceResult(statistic=array([1., 1.]), pvalue=array([0.31731051, 0.31731051]))

### P value is 0.66>0.05. so, we accept H0. All proportions of male-female buyer ratio is same